body{
    background-image: url("./ironman.jpg");
    background-size: 100%;
}
.maindiv{
    margin-left: 24%;
    margin-top: 34%;
    text-align: center;
    color: wheat;
    background-color: antiquewhite;
    background: rgba(0,0,0,0.5);
    border-radius: 45%;
    width: 50px;
    padding: 1%;
}